<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch">
        insert into order_detail (image,name,order_id, dish_id, setmeal_id, dish_flavor, number, amount) values
        <foreach collection="list1" item="orderDetail" separator=",">
            (#{orderDetail.image},#{orderDetail.name},#{orderDetail.orderId},#{orderDetail.dishId},#{orderDetail.setmealId},#{orderDetail.dishFlavor},#{orderDetail.number},#{orderDetail.amount})
        </foreach>
    </insert>
    <select id="top10" resultType="com.sky.entity.SaleReport">
        select dish_id, name, count(dish_id) as number from order_detail od join orders o on od.order_id = o.id
        where o.status = 5 and o.order_time &gt;= #{begin} and o.order_time &lt;= #{end}
        group by od.dish_id,od.name
        order by count(dish_id) desc
        limit 10
    </select>
</mapper>
